
    <div class="footer_top">
        <div class="footer_wrap">
            <ul class="top_left">
                <li>
                    <a href="">회사소개</a>
                </li>
                <li>
                    <a href="">서비스이용약관</a>
                </li>
                <li>
                    <a href="" class="colorc7f6d">개인정보 처리방침</a>
                </li>
                <li>
                    <a href="">영상정보 처리방침</a>
                </li>
                <li>
                    <a href="">뷰티포인트</a>
                </li>
                <li>
                    <a href="">임직원할인</a>
                </li>
                <li>
                    <a href="">사이트맵</a>
                </li>
            </ul>
            <div class="top_right_notice">
                <div class="notice_sec">
                    <span>공지</span>
                   <div class="notice_area">
                        <a href="" class="notice_txt">
                            <span>달콤하게 내 마음을 TEA- 내봐♥당첨자 개별발표 완료</span>
                        </a>
                        <a href="" class="notice_txt">
                            <span>[공지]오설록닷컴(아모레퍼시픽) 개인정보처리방침 일부가 변경됩니다.</span>
                        </a>
                        <a href="" class="notice_txt">
                            <span>[이벤트 공지] 공동구매 재참여 제한 해지 안내</span>
                        </a>
                        <a href="" class="notice_txt">
                            <span>[점검] L.POINT 제휴 서비스(적립 및 사용) 일시 중지 안내 _6월 24일(월) 00시~09시</span>
                        </a>
                   </div>
                    <a href="" class="notice_more">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bot">
    <div class="footer_wrap">
            <div class="bot_sub1">
                <div class="bot_sub1_left">
                    <div class="sub1_left1">
                        <span>주문배송문의</span>
                        <span class="ph_num">031-8047-9388</span>
                        <span>평일 09:00 - 18:00(점심 12:00 - 13:00)</span>
                    </div>
                    <ul class="sub1_left2">
                        <li>
                            <span class="font15 colorCcc"><strong>제품문의</strong></span>
                            <i class="bar"></i>
                            <a href="tel:080-023-5454"><strong class="font15 colorCcc pointer">080-023-5454</strong></a>
                            <span>(수신자요금부담)</span>
                        </li>
                        <li class="email">
                            <span>E-mail</span>
                            <i class="bar"></i>
                            <a href="mailto:osulloc.com@amorepacific.com" class="pointer"><strong>osulloc.com@amorepacific.com</strong></a>
                        </li>
                        <li>
                            <span>(대량구매,제휴 등 이메일 문의)</span>
                        </li>
                    </ul>
                </div>
                <div class="bot_sub1_right">
                    <ul>
                        <li>
                            <a href="">
                                <i class="fas fa-map-marked-alt"></i>
                                매장안내
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-gift"></i>
                                멤버십혜택
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-book"></i>
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-comments"></i>
                                1:1문의
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bot_sub2">
                <div class="bot_sub2_left">
                    <ul>
                        <li>
                            <span class="font13 color999">(주)아모레퍼시픽</span>
                        </li>
                        <li>
                            <span>대표이사:안세홍</span>
                            <span>주소:서울특별시 용산구 한강대로 100(한강로2가)</span>
                            <span>사업자등록번호: 106-86-43373</span>
                            <span class="link">
                                <a href="">사업자 정보확인<i class="fas fa-chevron-right"></i></a>
                            </span>
                        </li>
                        <li>
                            <span>통신판매업신고번호:2017-서울용산-1308호 호스팅제공자: ㈜아모레퍼시픽</span>
                        </li>
                        <li class="copyright">
                            <span class="color72">© 2019 AMOREPACIFIC. All Rights Reserved.</span>
                        </li>
                    </ul>
                </div>
                <div class="bot_sub2_right">
                    <ul class="safe">
                        <li>
                            <span class="font13 color999">(주)이니시스 구매안전서비스</span>
                        </li>
                        <li>
                            <span>고객님의 안전거래를 위해 현금 거래에 대해 이니페이 에스크로서비스를 이용하실 수 있습니다.</span>
                        </li>
                        <li class="confirm">
                            <a href="">
                                <span>서비스 가입사실 확인<i class="fas fa-chevron-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="share">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
    </div>
    </div>
    <a href="" class="top_btn">
        <i class="fas fa-arrow-circle-up"></i>
    </a>
