
    <div class="gnb_bg"></div>
    <div class="header_area">
        <h1 class="logo">
            <a href="../mainP/index.php">
                <div class="logo_wrap">
                    <div class="logo1">
                        <img src="../common_img/logo_40.png" alt="40주년 기념로고">
                    </div>
                    <div class="logo2">
                        <img src="../common_img/logo.png" alt="오설록 로고">
                    </div>  
                </div>   
            </a>    
        </h1>
        <div class="gnb" id="gnb">
            <ul>
                <li class="gnb_title">
                    <a href="../subP/index.php">Tea Shop</a>      
                    <ul class="gnb_sub">
                        <li>
                            <a href="../subP/index.php">전체상품</a>
                        </li>
                        <li>
                            <a href="../subP/index.php">베스트셀러</a>
                        </li>
                        <li>
                            <a href="../subP/index.php">오설록</a>
                        </li>
                        <li>
                            <a href="../subP/index.php">라운지</a>
                        </li>
                        <li>
                            <a href="../subP/index.php">오피스몰</a>
                        </li>
                        <li>
                            <a href="../subP/index.php">공동구매</a>
                        </li>
                        <li>
                            <a href="../subP/index.php">베이커리</a>
                        </li>
                    </ul>
                </li>
                <li class="gnb_title">
                    <a href="">Tea Guide</a>
                    <ul class="gnb_sub">
                        <li>
                            <a href="">티하우스 메뉴</a>
                        </li>
                        <li>
                            <a href="">시즌추천</a>
                        </li>
                        <li>
                            <a href="">매거진</a>
                        </li>
                        <li>
                            <a href=""> 차 정보</a>
                        </li>
                    </ul>
                </li>
                <li class="gnb_title">
                    <a href="">About Osulloc</a>
                    <ul class="gnb_sub">
                        <li>
                            <a href="">Brand Story</a>
                        </li>
                        <li>
                            <a href=""> Since 1979</a>
                        </li>
                        <li>
                            <a href=""> 오설록 차밭 이야기</a>
                        </li>
                        <li>
                            <a href="">숫자로 보는 오설록</a>
                        </li>
                    </ul>
                </li>
                <li class="gnb_title">
                    <a href=""> Tea Life</a>
                    <ul class="gnb_sub">
                        <li>
                            <a href="">이벤트</a>
                        </li>
                        <li>
                            <a href="">SNS</a>
                        </li>
                        <li>
                            <a href="">커뮤니Tea</a>
                        </li>
                        <li>
                            <a href="">네이버포스트</a>
                        </li>
                    </ul>
                </li>
                <li class="gnb_title">
                    <a href="">Jeju Tea Museum</a>
                    <ul class="gnb_sub">
                        <li>
                            <a href="">티뮤지엄 소개 </a>
                        </li>
                        <li>
                            <a href="">티스톤 예약</a>
                        </li>
                        <li>
                            <a href="">제주오설록</a>
                        </li>
                        <li>
                            <a href="">맵 방문기</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="form_menu">
            <ul>
                <li>
                    <a href="">로그인</a>
                </li>
                <li>
                    <a href="">회원가입</a>
                </li>
                <li>
                    <a href="">주문배송조회</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                </li>
                <li>
                    <a href="">매장찾기</a>
                </li>
                <li>
                    <a href="">뷰티포인트 추후적립</a>
                </li>
            </ul>
            <div class="lang_wrap pointer">
                <span>한국어 <i class="arrow"></i></span>
                <ul>
                    <li>
                        <a href="">한국어</a>
                    </li>
                    <li>
                        <a href="">English</a>
                    </li>
                    <li>
                        <a href="">中文</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="em_menu">
            <a href="" class="login">
                <i class="fas fa-user"></i>
            </a>
            <a href="../formP/cart.php" class="cart pointer">
                <i class="fas fa-cart-arrow-down"></i>
            </a>
            <a href="" class="search">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </div>    
