<nav class="detail_lnb_wrap">
    <div class="lnb">
        <form action="">
            <div class="search">
                <input type="text" placeholder="상품명을 입력해주세요">
                <button class="pointer"><i class="fas fa-search"></i></button>
            </div>
            <div class="detail_link">
                <a href="">
                    <img src="./img/list_banner.jpg" alt="list_banner">
                 </a>
                 <a href="">
                     <img src="./img/bakery_banner.jpg" alt="bakery_banner">
                 </a>
            </div>
            <div class="chk_option chk_option1">
                <h3 class="chk_title">상품 라인별</h3>
                <ul>
                     <li>
                         <label class="pointer" for="potion1_list1">
                             <input type="checkbox" name="" value="마스터즈" id="potion1_list1">
                         마스터즈</label>
                    </li>
                    <li>
                         <label class="pointer" for="potion1_list2">
                             <input type="checkbox" name="" value="퓨어" id="potion1_list2">
                         퓨어</label>
                    </li>
                    <li>
                         <label class="pointer" for="potion1_list3">
                             <input type="checkbox" name="" value="블렌디드" id="potion1_list3">
                         블렌디드</label>
                    </li>
                    <li>
                         <label class="pointer" for="potion1_list4">
                             <input type="checkbox" name="" value="허브(무카페인)" id="potion1_list4">
                         허브(무카페인)</label>
                    </li>
                    <li>
                         <label class="pointer" for="potion1_list5">
                             <input type="checkbox" name="" value="파우더" id="potion1_list5">
                         파우더</label>
                    </li>
                    <li>
                         <label class="pointer" for="potion1_list6">
                             <input type="checkbox" name="" value="기프트" id="potion1_list6">
                         기프트</label>
                    </li>
                    <li>
                         <label class="pointer" for="potion1_list7">
                             <input type="checkbox" name="" value="라이프스타일" id="potion1_list7">
                         라이프스타일</label>
                    </li>
                    <li>
                         <label class="pointer" for="potion1_list8">
                             <input type="checkbox" name="" value="이너뷰티" id="potion1_list8">
                         이너뷰티</label>
                    </li>
                </ul>
            </div>
            <div class="chk_option chk_option2">
                <h3 class="chk_title">상품 제형별</h3>
                <ul>
                    <li>
                         <label class="pointer" for="potion2_list1">
                             <input type="checkbox" name="" value="잎차" id="potion2_list1">
                             <img src="./img/option_pic1.png" alt="잎차">
                             <p>잎차</p>
                         </label>
                    </li>
                    <li>
                         <label class="pointer" for="potion2_list2">
                             <input type="checkbox" name="" value="피라미드" id="potion2_list2">
                             <img src="./img/option_pic2.png" alt="피라미드">
                             <p>피라미드</p>
                         </label>
                    </li>
                    <li>
                         <label class="pointer" for="potion2_list3">
                             <input type="checkbox" name="" value="티백" id="potion2_list3">
                             <img src="./img/option_pic3.png" alt="티백">
                             <p>티백</p>
                         </label>
                    </li>
                    <li>
                         <label class="pointer" for="potion2_list4">
                             <input type="checkbox" name="" value="파우더" id="potion2_list4">
                             <img src="./img/option_pic4.png" alt="파우더">
                             <p>파우더</p>
                         </label>
                    </li>
                </ul>
            </div>
            <div class="chk_option chk_option3">
                <h3 class="chk_title">상품 가격대별</h3>
                <ul>
                    <li>
                        <label class="pointer" for="potion3_list1">
                            <input type="radio" name="rd" value="전체" id="potion3_list1">
                         전체</label>
                    </li>
                    <li>
                        <label class="pointer" for="potion3_list2">
                            <input type="radio" name="rd" value="~1만원 미만" id="potion3_list2">
                        ~1만원 미만</label>
                    </li>
                    <li>
                        <label class="pointer" for="potion3_list3">
                            <input type="radio" name="rd" value="1만원 ~ 3만원 미만" id="potion3_list3">
                        1만원 ~ 3만원 미만</label>
                    </li>
                    <li>
                        <label class="pointer" for="potion3_list4">
                            <input type="radio" name="rd" value="3만원 ~ 5만원 미만" id="potion3_list4">
                        3만원 ~ 5만원 미만</label>
                    </li>
                    <li>
                        <label class="pointer" for="potion3_list5">
                            <input type="radio" name="rd" value="5만원 ~" id="potion3_list5">
                        5만원 ~</label>
                    </li>
                </ul>
            </div>
            <div class="chk_option chk_option4">
                <h3 class="chk_title">상품 특징별</h3>
                <ul>
                    <li>
                        <label class="pointer" for="potion4_list1">
                            <input type="checkbox" name="" value="시즌추천" id="potion4_list1">
                        시즌추천</label>
                    </li>
                    <li>
                        <label class="pointer" for="potion4_list2">
                            <input type="checkbox" name="" value="세일상품" id="potion4_list2">
                        세일상품</label>
                    </li>
                    <li>
                        <label class="pointer" for="potion4_list3">
                            <input type="checkbox" name="" value="1입 DIY" id="potion4_list3">
                        1입 DIY</label>
                    </li>
                    <li>
                        <label class="pointer" for="potion4_list4">
                            <input type="checkbox" name="" value="포장가능" id="potion4_list4">
                        포장가능</label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
 </nav>