#container{
    padding-top: 100px;
    transition: all .5s ease-in-out;
}
#container.on{
    padding-top: 55px;
    transition: all .5s ease-in-out;
}

.common_wrap{
    width: 1280px;
    margin: 0 auto;
}


/* main_banner */
#main_banner{
    width: 100%;
    height: 420px;
    position: relative;
}
#main_banner .main_img_item{
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
    position: relative;

    text-align: center;
}

#main_banner .main_img_item::after{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
#main_banner .main_img_item .mainB{
    width: 100%;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

#main_banner .main_img_item .mainB1{
   background-image: url('../mainP/img/20190527102656893AA.jpg');
}
#main_banner .main_img_item  .mainB2{
    background-image: url('../mainP/img/20190602223635364UM.jpg');
}
#main_banner .main_img_item  .mainB3{
    background-image: url('../mainP/img/20190529100557826LK.jpg');
}
#main_banner .main_img_item  .mainB4{
    background-image: url('../mainP/img/20190521180238341VC.jpg');
}

.main_txtwrap{
  display: inline-block;
  width: 1120px;
  position: relative;
  vertical-align: middle;
  text-align: left;
}
.main_txtwrap .key_title span{
    display: block;
    font-family: 'Merriweather', serif;
    color: #333;
}
.main_txtwrap .key_title .sub{
    font-size: 20px;
}
.main_txtwrap .key_title .title{
    margin: 10px auto;
    
    font-size: 38px;
    font-weight: normal;
    letter-spacing: -.068em;
}
.main_txtwrap p{
    margin: 15px auto;
}
.main_txtwrap p span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color:#222;
}



/* arrow */
.main_banner .slick-arrow{
    width: 37px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
  
    background-size: 37px 80px;
    z-index:10;

    background-color: transparent;
    font-size: 0;

    border: none;
    cursor: pointer;
}
.main_banner .slick-prev{
    left: 2%;
    background-image: url('../../common_img/slide_aro_l.png');
}
.main_banner .slick-next{
    right: 2%;
    background-image: url('../../common_img/slide_aro_r.png');
}

/* dots */
.main_banner .slick-dots{
    position: absolute;
    width: 100%;
    bottom: 3%;
    left: 0;

    text-align: center;
}

.main_banner .slick-dots li{
    width: 10px;
    height: 10px;

    border-radius: 100%;

    border: 1px solid #adadad;

    margin:0 10px;
    display: inline-block;
    vertical-align: top;
    
    cursor: pointer;
}
.main_banner .slick-dots li button{
    font-size: 0;
    border: none;
    background: transparent;
}

.main_banner .slick-dots li.slick-active{
    background: #fff;
    border: #fff;
}


/* sec2 */

#main_product{
    padding-bottom: 28px;
}

.main_product_title{
    padding-top: 41px;

    font-size: 26px;
    font-family: 'Merriweather', serif;
    font-weight: 400;

    text-align: center;
    color: #222;
}
.main_product_wrap{
    width: 1120px;
    margin: 0 auto;
}
.main_product_title::after{
    content: '';
    display: block;
    background: url('../mainP/img/main/bestseller_hr.png') no-repeat;
 
    height: 10px;
    width: 100%;
   
    background-position: center;
    padding-top: 2%;
}

.main_priduct_slide{
    width: 100%;
    box-sizing: border-box;

    position: relative;
}

.item_list{
    text-align: center;
    /* display: inline-block; */
    padding-bottom: 50px
}
.item_list a{
    padding: 4px 21px 0;
}
.item_list a img{
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
}
.item_list a span,
.item_list a .price
{
    color: #727272;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;

    font-size: 12px;
}


.item_list a .price{
    margin-top: 4px;
}
.item_list a .price span{
    display: inline-block;
}


/* 가격내림 */
.item_list a .price .small{
    position: relative;
    margin-right: 2%;
}
.item_list a .price .small:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 1px;
    background:#727272;
}

/* slick2 */

/* arrow */

.main_priduct_slide .slick-arrow{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
  
    background-size: 20px 30px;
    z-index:10;

    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0;

    border: none;
    cursor: pointer;
}
.main_priduct_slide .slick-prev{
    left: 0;
    background-image: url('../../common_img/ico_itmview_mslide_prev.png');
}
.main_priduct_slide .slick-next{
    right:0;
    background-image: url('../../common_img/ico_itmview_mslide_next.png');
}

/* dots */

.main_priduct_slide .slick-dots{
    position: absolute;
    width: 100%;
    bottom: 3%;
    left: 0;

    text-align: center;
}

.main_priduct_slide .slick-dots li{
    width: 10px;
    height: 10px;

    border-radius: 100%;

    border: 1px solid #adadad;

    margin:0 5px;
    display: inline-block;
    vertical-align: top;
    
    cursor: pointer;
}
.main_priduct_slide .slick-dots li button{
    font-size: 0;
    border: none;
    background: transparent;
}

.main_priduct_slide .slick-dots li.slick-active{
    background: #adadad;
}


/* sec3 */

.promotion1_wrap{
    font-size: 0;
}
/* today */
.promotion1_wrap .today{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 2px);
    height: 640px;
    box-sizing: border-box;
    border: 1px solid #f5f4f2;

    position: relative;
}
.promotion1_wrap .today .today_img{
    width: 100%;
    height: 100%;
    background: url('../mainP/img/20190515160756715QV.jpg') no-repeat;

    position: absolute;
    top: 0;
    left: 0;
}
.promotion1_wrap .today a .timer {
    position: absolute;
    width: 80%;
    top: 3%;
    left: 10%;
    text-align: center;
}
.promotion1_wrap .today a .timer .timer_title{
    margin: 1% 0 3%;
    color: #414141;
    font-size: 39px;
    font-family: 'Merriweather', serif; 
}


/* 시간부분 */
.promotion1_wrap .today a .timer .count{
    font-size: 0
}
.promotion1_wrap .today a .timer .count li{
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    overflow: hidden;
}
.promotion1_wrap .today a .timer .count .time{
    border: 1px solid #b7b7b7;
   
    background: #e8e3e3;
    width: 10.9%;
    height: 60px;

    font-size: 30px;
    color: #000;

    padding: 3% 0;
}
.promotion1_wrap .today a .timer .count .time span{
    margin: 26% 0;
    display: block;
}
.promotion1_wrap .today a .timer .colon{
    color: #000;
    width: auto;
    font-size: 35px;
    margin: 3% 0 0;
}

/* subtxt */
.promotion1_wrap .today a .timer .timer_sub{
    text-align: center;
    margin: 2% 0 ;
}
.promotion1_wrap .today a .timer .timer_sub span{
    display: block;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 1%;

}

    
/* item */
.promotion1_wrap .promotion_item{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
   
}
.promotion1_wrap .promotion_item .p_item{
    font-size: 0
}
.promotion1_wrap .promotion_item .p_item li{
    display: inline-block;
}


/* sec3 */
.event{
    white-space: nowrap;
   
    background: #edeae6 url('../mainP/img/counsellor_bg.jpg');
    text-align: center;

    position: relative;

    padding: 63px 0 29px;

    clear: both;
}
.event a h1 span{
    display: block;
  
    color: #222;
    font-size: 32px;
    font-family: 'Merriweather', serif;

    margin-bottom: 2%;
}

/* event deco */

.event:before{
    content: '';
    display: inline-block;
    width: 180px;
    height: 120px;
    background-size: auto;

    position: absolute;
    top: 0;
    left: 11%;

    background: url('../mainP/img/main/counsellor_deco.png') no-repeat;
}
.event:after{
    content: '';
    display: inline-block;
    width: 160px;
    height: 102px;
    background-size: auto;

    position: absolute;
    bottom: 0;
    right: 11%;

    background: url('../mainP/img/main/counsellor_deco.png') no-repeat -10px -148px;
}



/* sec5 */
.promotion2{
 overflow: hidden;
}
.promotion2_wrap > div{
  float: left;
    vertical-align: top;
    width: 50%;
    font-size: 0;
}

.promotion2_wrap .item1{
    width: calc(50% - 1px);
    border-left: 1px solid #e8e8e8;
}

.promotion2_wrap > div > a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
} 
.promotion2_wrap > div > a> img{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}


/* sec6 */
.event2 h1 > span{
    display: block;
    margin-bottom: 1%;
}
.event2 h1 .title{
    font-size: 32px;
   font-family: 'Merriweather', serif;
}

.event2 h1 .title .sub{
    font-size: 18px;
    font-family: 'Merriweather', serif;
}


/* sec7 */

.osulloc_now{
    background: #eee9e5;
}
.osulloc_now .now_wrap{
    font-size: 0;
}
.osulloc_now .now_wrap li{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 256px;
}
.osulloc_now .now_wrap li a,
.osulloc_now .now_wrap li a img{
    display: block;
    width: 100%;
    height: 100%;
}
.osulloc_now .now_wrap li a{
    position: relative;
}

.osulloc_now #instafeed li a::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: auto; 
    background: url('../mainP/img/main/veil_instagram.png');
}


.osulloc_now #instafeed li:hover a::after{
    display: none;
}
