.product_main_wrap{
    padding-top: 100px;	
    overflow: hidden;
} 

.product_common{
    overflow: hidden;

    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

/* product_main */

.product_main{
    width: 100%;
    height: 499px;

    background: url('../subP/img/product/bg/bg_prod_visual.png');
    background-size: 100%;
    background-repeat: repeat-x auto;

    overflow: hidden;
}
.product_main .product_main_box{
    position: relative;
}

/* img영역 */
.product_main .product_main_box .product_img{
    width: 390px;
    height: 390px;
    margin: 36px auto 0 auto;
    z-index: 5;
}
.product_main .product_main_box .product_img img{
    width: 100%;
    height: 100%;
}

/* product_bottom */

.product_main .product_main_box .product_bottom{
    position: absolute;
    bottom: 20px;
    left: 105px;
    right: 73px;

    overflow: hidden;
}

/* best */
.product_bottom .product_tagbox{
    display: inline-block;
    width: 62px;
    height: 43px;
    background: #333;
    line-height: 43px;
    text-align: center;
    border-radius: 45px;
}

.product_bottom .product_tagbox p{
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}


/* link */

.product_bottom  .product_link{
    float: right;
}
.product_bottom  .product_link .link_cart{
    display: inline-block;
    vertical-align: top;
    height: 43px;
    width: auto;

    margin-right: 7px;
    padding: 0 16px;

    line-height: 43px;

    background: transparent;
   
    border-radius: 45px;
    border:1px solid #000;

    opacity: 0.3;
}

.product_bottom  .product_link .link_cart img,
.product_bottom  .product_link .link_cart span{
    display: inline-block;
    vertical-align: top;
}

.product_bottom  .product_link .link_cart img{
    margin-top: 2px;
}
.product_bottom  .product_link .link_cart span{
    font-size: 13px;
}

/* hover */
.product_bottom  .product_link .link_cart:hover {
    opacity: 1;
}

.product_bottom  .product_link .link_like{
    width: 41px;
    height: 41px;
    background: #333;
    border: none;
    border-radius: 100%;

    text-align: center;
    line-height: 43px;
}

.product_bottom  .product_link .link_like i{
    color: #fff;
    font-size: 15px;
}
/* hover */
.product_bottom  .product_link .link_like:hover{
    background: #000;
}


/* article2 */
.product_info{
    width: 100%;
    padding: 0 50px 0 65px;
    background: #f5f5f5;
}

.product_info_box{
    padding: 67px 345px 59px 235px;
    position: relative;
}

.product_info_box .info_event,
.product_info_box .info_mid,
.product_info_box .info_buy
{
    display: inline-block;
    vertical-align: top;
}

/* event */
.product_info_box .info_event{
    position: absolute; 
    /* product_info_box 에 relative */
    left: 0px;
    top: 92px;
}
.product_info_box .info_event ul li{
    margin-top: 6px;
    line-height: 22px;
    height: 22px;;
}
.product_info_box .info_event ul li:first-child{
    margin-top: 24px;
}
.product_info_box .info_event ul li img,
.product_info_box .info_event ul li span{
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:13px;
    color: #444444;
}
.product_info_box .info_event ul li img{
    margin-right: 4px;
    margin-top: 2px;
}

/* mid */

.product_info_box .info_mid{
    width: 515px;;
    text-align: left;
}

.info_mid .info_mid_title{
    font-size: 32px;
    font-weight: 700;
    color: #333333;
   font-family: 'Nanum Myeongjo', serif;
}

.info_mid p{
    font-size: 15px;
    line-height: 20px;
    color: #888;
    font-family: 'Noto Sans KR', sans-serif;
}

.info_mid .sub{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
}

/* mid review-box */
.info_mid .review_box{
    overflow: hidden;
    margin-top: 42px;
}
.info_mid .review_box .review_l{
    display: inline-block;
    vertical-align: top;
}
.info_mid .review_box .review_l a{
    display: inline-block;
    font-weight: 700;
    margin-top: 14px;
    color: #d24e26;
    padding-bottom: 2px;
    border-bottom: 1px solid #d24e26;
}


.info_mid .review_box .review_link{
  float: right;
}

.info_mid .review_box .review_link a{
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #2c2c2c;
    margin-left: 10px;
    opacity: 0.2; 
}
.info_mid .review_box .review_link .share{
    background: url('../subP/img/product/ico/ico_itmview_share.png') no-repeat;
    background-size: 100% auto;
}

.info_mid .review_box .review_link .facebook{
    background: url('../subP/img/product/ico/ico_itmview_face.png') no-repeat;
    background-size: 100% auto;
}
/* hover */
.info_mid .review_box .review_link a:hover{
    opacity: 1;
}









/* info_buy */
.product_info_box .info_buy{
    position: absolute;
    right: 0;
    top: 83px;
    overflow: hidden;
}
.product_info_box .info_buy .buy_box{
    width: 283px;
    overflow: hidden;
}

/* 공통 */
.product_info_box .info_buy .buy_box .product_count_txt{
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

.product_info_box .info_buy .buy_box .sumbox{
    float: right;
    width: auto;
    height: auto
}

/* product_count */

.product_info_box .info_buy .product_count{
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcdc
}
.product_info_box .info_buy .product_count .count_box{
    padding-bottom: 12px;
}
.product_info_box .info_buy .product_count .count_box > *{
    display: inline-block;
    vertical-align: top;
}

.product_count .count_box .count_btn{
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    vertical-align: middle !important;
    margin-top: 10%;
}
.product_count .count_box .minus{
    margin-right: 20px;
}
.product_count .count_box .plus{
    margin-left: 20px;
}
.product_count .count_box .count_btn img{
    width: 100%;
    height: 100%;
}

.product_count .count_box .count{
    display: inline-block;
    text-align: center;
    line-height: 46px;
    width: 46px;
    height: 46px;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 50%;

    outline:0;
	border:0;
}
.product_info_box .info_buy{top:auto; bottom:20px;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}

/* product_price */
.product_info_box .info_buy .product_price{
    margin-top: 23px;
}

.product_info_box .info_buy .product_price .product_count_txt{
    margin-top: 19px;
}
.product_price .sum_price .price{
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    color: #333333;
    letter-spacing: -1.5px;
    line-height: 1.2;
}
.product_price .sum_price span{
    font-size: 22px;
    color: #333333;
}


/* button */

.product_info_box .buy_btn{
    margin-top: 27px;
    display: block;
    width: 100%;
    padding: 0;
    line-height: 55px;
    background-color: #1b1b1b;
    border: none;

    opacity: 0.9;
}

.product_info_box .buy_btn a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 700;  
}
/* hover */
.product_info_box .buy_btn:hover{
    opacity: 1;
}


/* product_tab */
.product_tab{
    width: 100%;
	height:45px	;
}
.product_tab .product_tab_inner{
	width: 100%;
	background: #fff;
	}
.product_tab ul{
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto;
	
    font-size: 0;
	
}
.product_tab li{
   display: inline-block;
   vertical-align: top;
   width:33.33%;
   text-align: center;
}
.product_tab li a{
    display: block;
    font-size: 17px;
    color: #c3c3c3;
    line-height: 45px;
}

.product_tab li a .new{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 6px;

    background-image: url('../subP/img/product/ico/ico_itmview_tabnew.png');
    background-repeat: no-repeat;
    background-size: 100% auto;

    vertical-align: middle;
}

/* on이 붙으면 */
/* scroll */
.product_tab.on .product_tab_inner{
    position: fixed;
    z-index: 11;
    top: 55px;
    left: 0;
}
/* click */
.product_tab > div > ul > li.on > a{
    color: #444444;
}


/* poroduct_detail_wrap */

.poroduct_detail_wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* detail_info */
.poroduct_detail_wrap .detail_info{
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* detail_info bg*/
.detail_info .detail_info_bg_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 505px;
    background-image:url('../subP/img/product/bg/bg_prod_detail.png');
    background-size: 100% auto; 
    z-index: 2;
}
.detail_info .detail_info_bg_bot{
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 576px;
    left: 50%;
    margin-left: -960px;
    z-index: 2;
}
.detail_info .detail_info_bg_bot img:first-child{
    float: left;
    margin-top: 152px;
}
.detail_info .detail_info_bg_bot img:last-child{
    float: right;
}

/*detail_info info_title_txt */

.detail_info .info_title_txt{
    max-width: 1280px;
    padding-top: 130px;
    font-size: 0;
    margin:0 auto 60px;
    position: relative;
    top: 0;
    left: 0;

    z-index: 10;
}

.detail_info .info_title_txt .info_txtl{
    display: inline-block;
    width: 16.5%;
    padding-left: 8%;
    margin-right: 4.5%;
}
.detail_info .info_title_txt .info_txtl li{
    font-size: 13px;
    line-height: 1.4;
    margin-top: 14px;
}

.detail_info .info_title_txt .info_txtl li:first-child{
    margin-top: 16px;
    margin-bottom: 42px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.detail_info .info_title_txt .info_txtl li span{
    color: #888888;
    font-size: 13px;
    font-weight: 700;
}

.detail_info .info_title_txt .info_txtl li .info_sub{
    display: inline-block;
    width: 50px;
    top: 0;
    left: 0;
    color: #1b1b1b;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
}


.detail_info .info_title_txt .info_txtr{
    display: inline-block;
    width: 74%;
    margin-top: 4px;
}

.detail_info .info_title_txt .info_txtr h3{
    color: #000000;
   font-family: 'Nanum Myeongjo', serif;
    font-size: 68px;
    font-weight: 700;
}

.detail_info .info_title_txt .info_txtr p{
    margin-top: 30px;
    color: #666666;
    font-size: 15px;
}



/* .detail_info .info_visual */

.detail_info .info_visual{
    position: relative;
    z-index: 5;
    max-width: 1280px;
    /* margin-top: 60px; */
    margin: 0 auto;
}

.detail_info .info_visual .info_visual_txt_wrap{
    width: 585px;
    padding-top: 0;
    padding-right: 82px;
    margin-top: 41px;
    margin-left: 26%;
    z-index: 10;
}
.info_visual .info_visual_txt_wrap .info_visual_txt{
    position: relative;
    width: 100%;
    height: 100%;
}

.info_visual .info_visual_txt_wrap .info_visual_txt::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: -30%;
    left: 0;
    width: 24px;
    height: 17px;
    background-image: url('../subP/img/product/ico/ico_itmview_l_quotes.png');
    background-size: 100% auto;
}
.info_visual .info_visual_txt_wrap .info_visual_txt::after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -10%;
    right: -10%;
    width: 24px;
    height: 17px;
    background-image: url('../subP/img/product/ico/ico_itmview_r_quotes.png');
    background-size: 100% auto;
}


.detail_info .info_visual .info_visual_txt_wrap .info_visual_txt p{    
    margin-top: 15px;
    color: #666666;
    font-size: 17px;
    font-weight: 200;
    line-height: 30px;
}

.info_visual .info_visual_txt_wrap .info_visual_txt p:first-child,
.info_visual_txt p:first-child span{
    color: #444;
   font-family: 'Nanum Myeongjo', serif;
    font-size: 37px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -3.4px;
    
}

.info_visual .info_visual_txt p:first-child .underline{
    position: relative;
    display: inline-block;
    z-index: 10;
}
.info_visual .info_visual_txt p:first-child .underline::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 11px;
    left: 0;
    right: 0;
    background-color: #c8cea7;
    bottom: 6px;
    z-index: -1;
}

/* .howtoeat */

.detail_info .howtoeat{
    position: relative;
   
    width: 1280px;
    margin: 50px auto 65px;

    font-size: 0;
}

.detail_info .howtoeat p,
.detail_info .howtoeat ul{
    display: inline-block;
    vertical-align: top;
}

.detail_info .howtoeat p{
    width: 17.5%;
    padding-left: 8%;
    margin-top: 50px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    line-height: 37px;
}

.detail_info .howtoeat ul{
    width: 60%;
    font-size: 0;
    margin-left: 7%;
}
.detail_info .howtoeat ul li{
    display: inline-block;
    width: 33.333%;
    margin-top: 35px;
    text-align: left;
}
.detail_info .howtoeat ul li span{
    display: inline-block;
    color: #454545;
   font-family: 'Nanum Myeongjo', serif;
    text-align: left;
    padding-top: 3px;
    font-size: 18px;
    line-height: 1;
}

.detail_info .howtoeat ul li .howto_num{
    width: 40px;
    font-size: 49px;
    font-weight: 200;
}



/* detail_slide */

.detail_slide{
    overflow: hidden;
    position: relative;
    width: 1920px;
    height: 800px;
    margin: 0 auto;
}
.detail_slide .detail_slide_wrap{
    width: 100%;
    height: 100%;

    position: relative;
}

.detail_slide .detail_slide_wrap .detail_slide_img{
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;  
}
.detail_slide .detail_slide_wrap1 #detail_slide_img1{
    background-image:url('../subP/img/product/18_line_slide_01.jpg');
}
.detail_slide .detail_slide_wrap2 #detail_slide_img2{
    background-image:url('../subP/img/product/18_line_slide_02.jpg');
}
.detail_slide .detail_slide_wrap3 #detail_slide_img3{
    background-image:url('../subP/img/product/18_line_slide_03.jpg');
}

#detail_slide_img2 img{
    display: block;
    margin: 0 auto;
}

/* slide txt 공통영역 */
.detail_slide_wrap .detail_slide_img_txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.detail_slide_wrap .detail_slide_img_txt .slide_txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #000;
    opacity: 0.5;
}
.detail_slide_wrap .detail_slide_img_txt p:first-child{
    padding-top: 75px;
    padding-bottom: 10px;
}
.detail_slide_wrap .detail_slide_img_txt p:last-child{
    width: 610px;
    padding-top: 19px;
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
    word-break: keep-all;
    line-height: 1.5;
}

.detail_slide_wrap .detail_slide_img_txt .slide_tit{
    font-size: 60px;
    font-weight: 600;
}


/* img2의 txt영역  detail_slide_wrap2*/

.detail_slide_wrap2 .detail_slide_img_txt{
    padding-left: 75px;
}

.detail_slide_wrap2 .detail_slide_img_txt p{
    width: auto;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
}
.detail_slide_wrap2 .detail_slide_img_txt p:first-child{
    padding-top: 135px;
    padding-bottom: 17px;
}
.detail_slide_wrap2 .detail_slide_img_txt p:last-child{
    width: auto;
    padding: 10px 0 0;
    font-size: 33px;
}

.detail_slide_wrap2 .detail_slide_img_txt .slide_tit{
    font-size: 42px;
}

/* detail_slide_txt_left */
.detail_slide_wrap2 .detail_slide_txt_left{
    position: absolute;
    top: 60%;
    left: 15%;
    right: 65%;
    word-break: keep-all;
    line-height: 1.4em;
    margin-left: 80px;
    text-align: left;
}

.detail_slide_wrap2 .detail_slide_txt_left .img_tit{
    font-size: 22px;
    margin: 10px 0 7px;
    padding: 5px 0 12px;
    background-image: url('../subP/img/product/item/bg_slide_about_txt_r_b.png');
    background-repeat: no-repeat;
    background-position: 0 bottom;

    position: relative;
}
.detail_slide_wrap2 .detail_slide_txt_left .img_tit::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 80%;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #111;
    border-radius: 100%;
}

.detail_slide_wrap2 .detail_slide_txt_left .img_txt{
    margin-right: 60px;
    padding-left: 0;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}


/*  detail_slide_txt_right*/
.detail_slide_wrap2 .detail_slide_txt_right{
    position: absolute;
    top: 290px;
    left: 55%;
    right: 20%;

    word-break: keep-all;
    line-height: 1.4em;
   
    margin-left: 80px;
    text-align: right;
}

.detail_slide_wrap2 .detail_slide_txt_right .img_tit{
    font-size: 22px;
    margin: 10px 0 7px;
    padding: 5px 0 12px;
    background-image: url('../subP/img/product/item/bg_slide_about_txt_r_b.png');
    background-repeat: no-repeat;
    background-position: 0 bottom;

    position: relative;
}
.detail_slide_wrap2 .detail_slide_txt_right .img_tit::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #111;
    border-radius: 100%;
}

.detail_slide_wrap2 .detail_slide_txt_right .img_txt{
    margin-left: 60px;
    padding-left: 140px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}



/* img3의 txt영역  detail_slide_wrap3*/

.detail_slide_wrap3 .detail_slide_img_txt p:last-child{
    padding-top: 0;
}


/* deatail slide pager_area */

.detail_slide .detail_slide_pager_area{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -640px;
    overflow: hidden;

    width: 1280px;
  
    padding: 55px 0 53px 0;
    background-color: #fff;
}
.detail_slide .detail_slide_pager_area li {
    display: inline-block;
    vertical-align: top;
    margin-left: 38px;

    position: relative;

    /* width: 155px; */
}
.detail_slide .detail_slide_pager_area li:first-child {
    margin-left: 76px;
}
.detail_slide .detail_slide_pager_area li span{
    display: inline-block;
    vertical-align: top;
    color: #bbbbbb;
    font-size: 15px;
}
.detail_slide .detail_slide_pager_area li .num{
    padding-right: 15px;
    font-weight: bold;
}
.detail_slide .detail_slide_pager_area li:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    /* background: #bacd67; */

    transform: translateX(0);
    transition: all 0.5s;
    transform-origin: left;
}



.detail_slide .detail_slide_pager_area li.slick-active:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #bacd67;

    transform: translateX(1);
}
.detail_slide .detail_slide_pager_area li.slick-active span{
    color: #000;
}


/* arrow */
.detail_slide .slick-arrow{
    width: 37px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
  
    background-size: 37px 80px;
    z-index:10;

    background-color: transparent;
    font-size: 0;

    border: none;
    cursor: pointer;
}
.detail_slide .slick-prev{
    left: 2%;
    background-image: url('../../common_img/slide_aro_l.png');
}
.detail_slide .slick-next{
    right: 2%;
    background-image: url('../../common_img/slide_aro_r.png');
}






/*  product_recommend*/

.product_recommend .text_area{
    width: 1129px;
    margin: 0 auto;
    padding-bottom: 61px;
    padding-top: 133px;

   font-family: 'Nanum Myeongjo', serif;
    font-size: 32px;
    font-weight: bold;
    color: #333;

    line-height: 1.3em;
}

.product_recommend .recommend_img_wrap{
    position: relative;
    max-width: 1129px;
    margin: 0 auto;
}
.product_recommend .recommend_img_wrap::before{
    content: '';
    display: inline-block;

    position: absolute;
    top: 20px;
    left: 20px;
    width: 243px;
    height: 39px;
    background-image: url('../subP/img/product/item/img_prod_lineup_hover.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}



.product_recommend .recommend_img_wrap .recommend_img{
    position: relative;
    max-width: 100%;
    margin-bottom: 50px;
}


/* plus_box_area */
.product_recommend .recommend_img_wrap .plus_box_area{
    display: inline-block;
    text-align: center;
    position: absolute;
}
.product_recommend .recommend_img_wrap .plus_box1{
    top: 66.02%;
    left: 22.6%;
}
.product_recommend .recommend_img_wrap .plus_box2{
    top: 46.76%;
    left: 32.62%;
}
.product_recommend .recommend_img_wrap .plus_box3{
    top: 76.18%;
    left: 41.93%;
}
.product_recommend .recommend_img_wrap .plus_box4{
    top: 60.07%;
    left: 59.66%;
}
.product_recommend .recommend_img_wrap .plus_box5{
    top: 60.07%;
    left: 66.84%;
}
.product_recommend .recommend_img_wrap .plus_box6{
    top: 77.75%;
    left: 74.2%;
}






/*  plus_box_area  plus_info */
.product_recommend .recommend_img_wrap .plus_box_area .plus_info{
    width: 250px;
    height: 104px;
    background: #fff;
    text-align: left;

    position: relative;
    z-index: 2;
    margin-top: -84px;
    margin-left: -160px;

    display: none;
} 
.product_recommend .recommend_img_wrap .plus_box_area .plus_info img{
    display: inline-block;
    vertical-align: top;
    width: 102px;
    height: 102px;
    margin: 1px 0 0 1px;
    background-color: #eaeaea
}
.product_recommend .recommend_img_wrap .plus_box_area .plus_info .info_txt{
    display: inline-block;
    width: 114px;
    padding: 17px 0 23px 15px;
    vertical-align: top;
}
.recommend_img_wrap a .plus_info .info_txt .info_txt_tit{
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}
.recommend_img_wrap a .plus_info .info_txt .info_txt_price{
    margin-top: 12px;
    color: #333;
    font-size: 13px;
}
.recommend_img_wrap a .plus_info .info_txt .info_txt_price .num{
    margin-right: 2%;
}



.product_recommend .recommend_img_wrap .plus_box_area .plus_button{
    position: relative;
    display: block;
    z-index: 1;
}

/* hover */

.product_recommend .recommend_img_wrap .plus_box_area:hover .plus_info{
    display: block;
}
.product_recommend .recommend_img_wrap .plus_box_area:hover .plus_button{
    display: none;
}


/* product_recommend line_up */

.product_recommend .line_up{
    max-width: 1129px;
    margin: 0 auto;
    margin-bottom: 65px;
}
.product_recommend .line_up li{
    display: inline-block;
    vertical-align: top;

    width: 33%;
}

.product_recommend .line_up li img{
    display: inline-block;
    vertical-align: top;
    width: 27%;
}
.product_recommend .line_up li .txt_box{
    display: inline-block;
    vertical-align: top;
    width: 73%;
    padding-top: 10px;
    margin-left: -5px;  
}

.product_recommend .line_up li .txt_box .sub{
    margin-top: 11px;
    font-size: 14px ;
    line-height: 1.3em;
    color: #666;
    word-break: keep-all;
}



/* product_closecont */

.product_closecont{
        overflow: hidden;
    padding: 0 10px;
    margin-top: 123px;

    transition: all 1s;
}


/*.product_closecont .text_area  */
.product_closecont .text_area{
    max-width: 1128px;
    margin: 0 auto;
    margin-bottom: 52px;
}
           
.product_closecont .text_area .txt_tit_box{
    width: 100%;
    position: relative;
}

.product_closecont .text_area .txt_tit_box .sub{
    font-size: 24px;
    font-weight: bold;
   font-family: 'Nanum Myeongjo', serif;
    margin-bottom: 11px;
    line-height: 44px;
    color: #333;
}

.product_closecont .text_area .txt_tit_box .tit{
    font-size: 45px;
    font-weight: bold;
   font-family: 'Nanum Myeongjo', serif;
    margin-bottom: 40px;
    line-height: 44px;
    color: #333;
}

.product_closecont .text_area .txt_tit_box .about{

    position: absolute;
    top: 15%;
    right: 0;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    color: #333;
}

.product_closecont .text_area .txt{
    font-weight: bold;
    color: #888;
    line-height: 22px;
    font-size: 15px; 
}


/*.product_closecont .closecont_img  */

.product_closecont .closecont_img{
    max-width: 1128px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 0;
}
.product_closecont .closecont_img div{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}


/* other_product */
.other_product .other_product_tit{
    padding: 76px 10px 0;
    width: 1129px;
    margin: 0 auto;
    overflow: hidden;

    /* position: relative; */
}

.other_product .other_product_tit h2{
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Nanum Myeongjo', serif;
    color: #333;
}

.other_product .other_product_tit .button_wrap{
    float: right;
}


.other_product .other_product_tit .button_wrap button{
    border-radius: 25px;
    line-height: 44px;
    font-size: 13px;
    cursor: pointer;
}


.other_product .other_product_tit .button_wrap button:first-child{
    width: 89px;
    margin-right: 8px;
    border: 1px solid #949494;
    color: #949494;
    background-color: #fff;
    opacity: 0.55;
}
.other_product .other_product_tit .button_wrap button:first-child label{
    display: block;
}

.other_product .other_product_tit .button_wrap button:first-child label input{
    display: none;
}

/* hover */
.other_product .other_product_tit .button_wrap button:first-child:hover{
    opacity: 1;
}

/* on */
.other_product .other_product_tit .button_wrap.on button:first-child{
    opacity: 1;
}


.other_product .other_product_tit .button_wrap button:last-child{
    width: 115px;
    color: #fff;
    background-color: #3b3b3b;
    opacity: 0.9;
}

/* hover */
.other_product .other_product_tit .button_wrap button:last-child:hover{
    opacity: 1;
}


/* .other_product  .other_product_listbox*/

.other_product  .other_product_listbox{
    padding: 47px 37px 0;
    width: 1255px;
    margin: 0 auto;
    position: relative;
}

.other_product  .other_product_listbox .listbox_area{
    width: 1210px;
    margin: 0 auto;
}

.other_product  .other_product_listbox .listbox_area .list{
    width: 100%;
}


/* arrow */

.other_product_listbox > .listbox_area > .list > .slick-arrow{
    position: absolute;
    width: 53px;
    height: 52px;
    top: 30%;
    background-color: transparent;
    font-size: 0;
    border:none;
    background-position: center center;
    background-repeat: no-repeat;
}

.other_product_listbox > .listbox_area > .list > .slick-prev{
    left: 0%;
    background-image:url('../subP/img/product/ico/ico_itmview_mslide_prev.png'); 
}
.other_product_listbox > .listbox_area > .list > .slick-next{
    right: 0%;
    background-image:url('../subP/img/product/ico/ico_itmview_mslide_next.png'); 
}




.other_product_listbox .listbox_area .list .itme_list{
    display: inline-block;
    vertical-align: top;
    width: 303px;

    position: relative;
}


.other_product_listbox .listbox_area .list .itme_list a{
    display: block;
}
/* 그림영역 */
.other_product_listbox .listbox_area .list .itme_list .img{
    width: 210px;
    margin: 0 auto;
    display: block;
    background-color: #f9f9f9;
    margin: 0 auto;
}

/* 이름영역 */
.other_product_listbox .listbox_area .list .itme_list .name{
    width: 210px;
    margin: 0 auto;
    display: block;
    padding: 21px 0 19px 0;
    word-break: keep-all;
    font-weight: bold;
    font-size: 15px;
    color: #3f3734;
    font-weight: 700;
}
/* 가격과 버튼 */

.other_product_listbox .listbox_area .list .itme_list .prod_button_wrap{
    overflow: hidden;
    width: 210px;
    margin: 0 auto;
}

.other_product_listbox .listbox_area .list .itme_list .prod_button_wrap .price{
    float: left;
    font-size: 17px;
    font-weight: bold;
    color: #3f3734;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 30px;
}

.other_product_listbox .listbox_area .list .itme_list .prod_button_wrap label{
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #bababa;
    border-radius: 50%;
    background: url('../subP/img/product/ico/ico_itmview_chk_off.png')no-repeat center;
}

/* on */
/* .other_product_listbox .listbox_area .list.on .itme_list .prod_button_wrap label{
    background-color: #c4d47d;
    border: 1px solid #c4d47d;
}

.chkbox.chk{
    background-color: #c4d47d !important;
    border: 1px solid #c4d47d !important; 
}

.other_product_listbox .listbox_area .list .itme_list .prod_button_wrap label input{
   display: none; 
   opacity: 0
} */




/* product_close */



#product_close{
    width: 1128px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin: 86px auto 80px;
    text-align: center;
}

#product_close p{
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 15px 0;
    padding-right: 29px;
    font-size: 20px;
    font-weight: bold;
}

#product_close p .arrow{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 25%;
    width: 7px;
    height: 7px;
    margin-top: 3px;
    margin-left: 11px;
    padding-right: 7px;

    background-image: url('../subP/img/product/ico/ico_itmview_price_up.png');
    background-repeat: no-repeat;
    background-position: center center;
}

/* on */
#product_close.on p .arrow{
  transform: rotate(180deg);
}



/* cs_review*/

.poroduct_detail_wrap .cs_review{
    width: 1120px;
    margin: 0 auto;
    padding: 100px 10px 0;

    overflow: hidden;
}

/*.cs_review .txt_box  */
.cs_review .txt_box{
   width: 100%;
   position: relative; 
}

.cs_review .txt_box h2{

    font-size: 32px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    color: #727272;
}

.cs_review .txt_box p{

    margin-top:15px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #888;
}

.cs_review .txt_box .average{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

    text-align: right
}

.cs_review .txt_box .average p{
  font-size: 14px;
  color: #727272;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 18px;
  margin-top: 0;
}

.cs_review .txt_box .average .stars i{
    font-size: 14px;
    color: #333;
}


/* .cs_review .review_area */
.cs_review .review_area{
    width: 100%;

    border: 1px solid #292929;
    border-left: 0;
    border-right: 0;
}

.cs_review .review_area li{
    padding: 12px 0;
    border-top: 1px solid #d4d4d4;

    font-size: 15px;
    color: #727272;

    position: relative;
    padding-left: 173px;
    padding-right: 285px;
}

.cs_review .review_area li:first-child{
    border-top: 0;
}


/* .cs_review .review_area li .stars */

.cs_review .review_area li .stars{
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -10px;
}
.cs_review .review_area li .stars i{
    color: #333;
}


/* .cs_review .review_area li .rev_cont */

.cs_review .review_area li .rev_cont{
    line-height: 1.5em;
}

.cs_review .review_area li .rev_cont .user,
.cs_review .review_area li .rev_cont .date
{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 15px;
    color: #666
}

.cs_review .review_area li .rev_cont .user{
    width: 100px;
    right: 115px;
    text-align: left;
}

.cs_review .review_area li .rev_cont .date{
    right: 30px;
    text-align: right;
}

/* .cs_review .review_area li .rev_cont .rev_img */

.cs_review .review_area li .rev_cont .rev_img{
    width: 90px;
    height: 60px;
    overflow: hidden;
    position: relative;

    margin-top: 5px;

    transition: 'all 0.5s'
}


.cs_review .review_area li .rev_cont .rev_img img{
    display: block;
    width: 100%;
    height: 100;
}


.cs_review .review_area li .rev_cont .rev_img .view_wide{
    position: absolute;
    bottom: 0;
    right: 0;

    width: 125px;
    height: 40px;

    background: rgba(34,34,34,0.8);

    text-align: center;
}

.cs_review .review_area li .rev_cont .rev_img .view_wide .wide_arrow{
    display: inline-block;
    transform: rotate(45deg);
    color: #fff;
   
    padding-top: 9%;
    padding-left: 5%;
}



/* on */

.cs_review .review_area li .rev_cont .rev_img .view_wide.on .wide_arrow i:first-child{
    transform: rotate(180deg);
}
.cs_review .review_area li .rev_cont .rev_img .view_wide.on .wide_arrow i:last-child{
    transform: rotate(180deg);
}




/*.cs_review  .detail_pager .pager_wrap  */
.cs_review .detail_pager{
    position: relative;
    overflow: hidden;
    height: 130px;

    margin: 0;

    border-bottom: 1px solid #ccc;
}


.cs_review .detail_pager .pager_wrap{
    padding-top: 30px;
}
.cs_review .detail_pager .pager_wrap li{
    vertical-align: middle
}
.cs_review .detail_pager .pager_wrap .pager_round{
    width: 27px;
    height: 27px;;
    border: 1px solid;
    border-radius: 100%;
    border-color: #ccc;

    text-align: center;

    margin-right: 6px;
}  

.cs_review .detail_pager .pager_wrap .pager_round a{
    padding: 20%;
}


.cs_review .detail_pager .pager_wrap .pager_round a i{
   color: #ccc;
}

/* .cs_review .detail_pager button */

.cs_review .detail_pager button {
    position: absolute;
    top: 23px;
    right: 0;
    width: 147px;
    height: 54px;
    padding: 0;
 
    
    text-align: center;
    line-height: 54px;
    background-color: #3b3b3b;
    border-radius: 60px;
    opacity: 0.9;

    border:none;
}
.cs_review .detail_pager button a{
    display: block;

    color: #fff;
    font-size: 13px;
}

.cs_review .detail_pager button:hover{
    opacity: 1;
}



/*purchasing_info  */
.poroduct_detail_wrap .purchasing_info{
    padding-bottom: 60px;
}
.poroduct_detail_wrap .purchasing_info .txt_box{
    width: 1120px;
    padding: 100px 20px 40px;
    margin: 0 auto;
}

.purchasing_info .txt_box h2{
    color: #727272;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Nanum Myeongjo', serif;

    margin-bottom: 32px;
}
.purchasing_info .txt_box p{
    margin-top: 18px;
    font-size: 15px;
    font-weight: 500;
    color: #888;
    line-height: 1.3;
}


/* .purchasing_info .tab_wrap */
.purchasing_info .tab_wrap{
    width: 1120px;
    margin: 0 auto;
}

/*  .purchasing_info .tab_wrap .tab(ul) */

.purchasing_info .tab_wrap .tab{
   padding: 0 40px;
}
.purchasing_info .tab_wrap .tab li{
    display: inline-block;
    margin-right: 42px;
    text-align: center;
    box-sizing: border-box;
}

.purchasing_info .tab_wrap .tab li a{
    display:block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: #ababab;
    font-family: 'Nanum Myeongjo', serif;
}


/*  .purchasing_info .tab_wrap  .tabindexWrap*/


.purchasing_info .tab_wrap .tabindexWrap{
    padding: 20px 40px;
    border: 1px solid #e5e5e5;
}

/* .purchasing_info .tab_wrap .tabindexWrap .tabindex*/

.purchasing_info .tab_wrap .tabindexWrap .tabindex{
    width: 100%;
    empty-cells: show;
    border-collapse: separate;
    text-align: left;
}

.purchasing_info .tab_wrap .tabindexWrap .tabindex tbody th{
    width: 178px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 700;

    text-align: left;
    white-space: nowrap;
    color: #333;

    vertical-align: top;
}

.purchasing_info .tab_wrap .tabindexWrap .tabindex tbody td{
    padding: 15px 0;
    line-height: 1.5;
    font-size: 14px;
    color: #727272;
}

.purchasing_info .tab_wrap .tabindexWrap .tabindex tbody td ul li{
    padding-left: 10px;
    margin-top: 7px;

    position: relative;
}
.purchasing_info .tab_wrap .tabindexWrap .tabindex tbody td ul li:first-child{
    margin-top: 0px;
}

.purchasing_info .tab_wrap .tabindexWrap .tabindex tbody td ul li::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 3px;
    height: 3px;
    background: #888;
}


.purchasing_info .tab_wrap .tabindexWrap .tabindex tbody .no_dot ul li{
    padding-left: 0;
}
.purchasing_info .tab_wrap .tabindexWrap .tabindex tbody .no_dot ul li::before{
   display: none;
}



/* .purchasing_info .tab_wrap .tabindexWrap .tabindex1 */

.purchasing_info .tab_wrap .tabindexWrap .tabindex1{
    border-bottom: 1px solid #ddd;
    width: 100%;
    empty-cells: show;
    border-collapse: separate;
    text-align: left;
}


.purchasing_info .tab_wrap .tabindexWrap .tabindex1 tbody{
    text-align: left;
    width: 100%;
    word-break: keep-all;
}

.purchasing_info .tab_wrap .tabindexWrap .tabindex1 tbody th{
    width: 15%;
    padding: 10px 20px;
    letter-spacing: -0.7px;
    background-color: #f6f6f6;
    vertical-align: middle;

    font-size: 13px;
    color: #555;

    border-top: 1px solid #e5e5e5;

    font-weight: 700;

    line-height: 1.5;
}
.purchasing_info .tab_wrap .tabindexWrap .tabindex1 tbody td{
    font-size: 14px;
    color: #727272;
    width: 35%;
    padding: 10px;
    font-weight: 500;
    padding-left: 20px;
    vertical-align: middle;

    border-top: 1px solid #e5e5e5;

    line-height: 1.5;
}



/* on */

.purchasing_info .tab_wrap .tab li.on a{
    color: #444444;
    
    border-bottom: 3px solid #000;
}
.purchasing_info .tab_wrap .tabindexWrap .tabindex.on{
    display: block;
}

.tabindex1,.tabindex2,.tabindex3,.tabindex4{
    display: none;
}
